<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Interceptor.css")
    @Styles.Render("~/Content/General.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body style="background-color: rgba(230, 230, 230, 0.18);">
    <div id="interceptor" class="interceptor hide">
        <div class="loader"></div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #2b66c5 !important; border-color: #0400ff !important;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand color-toolbar a"><i class="fas fa-jedi"></i> War Chess</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle color-toolbar a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i>  <span id="email"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/BatalhasMVC/Index"><i class="fas fa-gamepad"></i>  Batalhas</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" onclick="logout()"><i class="fas fa-power-off"></i>  Logout</a></li>
                        </ul>
                    </li>
                    <li><span class="item-nav" id="email" onclick="goLogin()"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - War Chess</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")  
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("MeusScripts", required: false)
    <script>
        var email = sessionStorage.getItem("emailUsuario") ? sessionStorage.getItem("emailUsuario") : "Account";
        $("#email").text(email);
        function logout() {
            sessionStorage.removeItem('emailUsuario');
            sessionStorage.removeItem('accessToken');
            goLogin();
        }

        function goLogin() {
            window.location.href = "/";
        }
    </script>
</body>
</html>
