@model IEnumerable<JogosDeGuerraModel.Batalha>

@{
    ViewBag.Title = "Index";
}

<style>
    .text-center {
        text-align: center;
    }

    .fundo-claro {
        background-color: #c6c6c6;
        border: 1px solid #909090;
        border-radius: 5px;
        padding: 13px 0px;
    }

    .fundo-escuro {
        background-color: #989898;
        border: 1px solid #737373;
        border-radius: 5px;
        padding: 13px 0px;
    }

    .p-25 {
        padding: 25px;
    }

    .m-10 {
        margin: 10px;
    }
    .h-411 {
        height: 411px;
    }
</style>
<div>
    <h2>Batalhas</h2>

    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNovaBatalha">Nova Batalha</button>
    </p>
    <div class="row">
        @foreach (var item in Model)
    {
            <div class="col-xs-4">
                <div class="m-10 text-center fundo-claro p-25 h-411">
                    <div class="row text-center">
                        <div class="col-xs-6 text-center" id="exercitoBranco">
                            <div class="fundo-escuro">
                                <div class="text-center">@item.ExercitoBranco.Nacao</div>
                                <div class="text-center">
                                    @if (item.ExercitoBranco.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Nordico)
                                {
                                        <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroNordicoBranco.png" />
                                }
                                else if (item.ExercitoBranco.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Persia)
                                {
                                        <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroPersaBranco.png" />
                                }
                                else if (item.ExercitoBranco.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.India)
                                {
                                        <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroIndianoBranco.png" />
                                }
                                else if (item.ExercitoBranco.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Egito)
                                {
                                        <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroEgipcioBranco.png" />
                                }
                                else
                                {
                                        <img style="width: 100px; height: 100px;" />
                                }

                                </div>
                                <div class="text-center"><label>Exercito Branco</label></div>
                                <div class="text-center">@Html.DisplayFor(modelItem => item.ExercitoBranco.Usuario.Email)</div>
                            </div>
                        </div>
                        <div class="col-xs-6 text-center">
                            <div class="fundo-escuro" id="exercitoPreto">
                                <div class="text-center">
                                    @if (item.ExercitoPreto != null)
                                {
                                        @Html.DisplayFor(modelItem => item.ExercitoPreto.Nacao)
                                }
                                else
                                {
                                        <span>-</span>
                                }
                                </div>
                                <div class="text-center">
                                    @if (item.ExercitoPreto != null)
                                {
                                    if (item.ExercitoPreto.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Nordico)
                                    {
                                            <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroNordicoPreto.png" />
                                    }
                                    else if (item.ExercitoPreto.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Persia)
                                    {
                                            <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroPersaPreto.png" />
                                    }
                                    else if (item.ExercitoPreto.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.India)
                                    {
                                            <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroIndianoPreto.png" />
                                    }
                                    else if (item.ExercitoPreto.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Egito)
                                    {
                                            <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroEgipcioPreto.png" />
                                        }
                                    }
                                else
                                {
                                        <div style="width: 100px; height: 100px;" />
                                }
                                </div>
                                <div class="text-center"><label>Exercito Preto</label></div>
                                <div class="text-center">
                                    @if (item.ExercitoPreto != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.ExercitoPreto.Usuario.Email)
                                }
                                else
                                {
                                        <span>-</span>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (item.ExercitoBranco != null && item.ExercitoPreto != null)
                {
                        <hr />
                        <div class="row text-center" id="turno">
                            <div class="col-xs-12">
                                <label>Turno: </label>
                                @if (item.Turno == null)
                            {
                                    @Html.Label("-")
                            }
                            else if (item.TurnoId == item.ExercitoBrancoId)
                            {
                                    @Html.Label("Exercito Branco")
                            }
                            else if (item.TurnoId != item.ExercitoBrancoId)
                            {
                                    @Html.Label("Exercito Preto")
                            }
                            </div>
                        </div>
                        <div class="text-center" id="estado"><label>Estado:</label> @item.Estado</div>
                        <div class="text-center" id="win">
                            <label>Vencedor:</label>
                            @if (item.Vencedor != null)
                        {
                                @Html.DisplayFor(modelItem => item.Vencedor.Usuario.Email)
                        }
                        else
                        {
                                @Html.Label("-")
                        }
                        </div>
                        <div class="text-center" id="btn">
                            @Html.ActionLink("Iniciar Batalha", "Tabuleiro", "BatalhasMVC", new { Id = item.Id }, new { @class = "btn btn-lg btn-primary" })
                        </div>
                }
                </div>
            </div>

    }
    </div>
</div>
<div class="modal fade" id="modalNovaBatalha" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content https://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Nova batalha!</h3>
            </div>
            <form>
                <div class="modal-body">

                    <h3>Selecione uma Nação:</h3>
                    <br />
                    <p><label><input type="radio" name="Nacao" value="1" required /> India  </label></p>
                    <p><label><input type="radio" name="Nacao" value="2" /> Persa  </label></p>
                    <p><label><input type="radio" name="Nacao" value="3" /> Egito  </label></p>
                    <p><label><input type="radio" name="Nacao" value="4" /> Nordico  </label></p>
                </div>
                <div class="modal-footer">
                    <p>Deseja entrar em uma nova batalha?</p>
                    <br />
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>  Não</button>
                    <button type="submit" class="btn btn-success" onclick="criarBatalha()"><i class="glyphicon glyphicon-ok"></i>  Sim</button>
                </div>
            </form>
        </div>

    </div>
</div>


@section MeusScripts{
    <script type="text/javascript">
        $("#email").text(sessionStorage.getItem("emailUsuario"));
        function showError(jqXHR) {
            $("#interceptor").addClass("hide");
            var response = jqXHR.responseJSON;
            if (response) {
                if (response.Message) self.errors.push(response.Message);
                if (response.ModelState) {
                    var modelState = response.ModelState;
                    for (var prop in modelState) {
                        if (modelState.hasOwnProperty(prop)) {
                            var msgArr = modelState[prop]; // expect array here
                            if (msgArr.length) {
                                for (var i = 0; i < msgArr.length; ++i) self.errors.push(msgArr[i]);
                            }
                        }
                    }
                }
                if (response.error) self.errors.push(response.error);
                if (response.error_description) self.errors.push(response.error_description);
            }
        }


        function criarBatalha() {
            var baseUrl =
                window.location.protocol +
                "//" +
                window.location.hostname +
                (window.location.port ? ':' + window.location.port : '');
            var token = sessionStorage.getItem("accessToken");
            var headers = {};
            if (token) {
                headers.Authorization = token;
            }
            var urlIniciarBatalha = baseUrl + "/api/Batalhas/Iniciar?Id=1";
            var nacao = document.querySelector('input[name="Nacao"]:checked').value;
            if (nacao) {
                var urlNovaBatalha = baseUrl + '/api/Batalhas/CriarNovaBatalha?Nacao=' + nacao;
                $("#interceptor").removeClass("hide");
                $.ajax({
                    type: 'GET',
                    url: urlNovaBatalha,
                    headers: headers
                }).done(function (data) {
                    $("#interceptor").addClass("hide");
                    location.reload();
                }).fail(showError);
            } else {
                alert("Selecione uma Nação!");
            }
            
        }
    </script>
}