@model IEnumerable<JogosDeGuerraModel.Batalha>

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/BatalhasIndex.css")
<div>
    <h2>Batalhas</h2>

    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNovaBatalha">Nova Batalha</button>
    </p>
    <div class="row">
        @foreach (var item in Model)
    {
            <div class="col-xs-4">
                <div class="m-10 text-center fundo-claro p-25 h-411">
                    <div class="row text-center">
                        <div class="col-xs-6 text-center" id="exercitoBranco">
                            <div class="fundo-escuro">
                                <div class="text-center">@item.ExercitoBranco.Nacao</div>
                                <div class="text-center">
                                    @if (item.ExercitoBranco.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Nordico)
                                {
                                        <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroNordicoBranco.png" />
                                }
                                else if (item.ExercitoBranco.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Persia)
                                {
                                        <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroPersaBranco.png" />
                                }
                                else if (item.ExercitoBranco.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.India)
                                {
                                        <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroIndianoBranco.png" />
                                }
                                else if (item.ExercitoBranco.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Egito)
                                {
                                        <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroEgipcioBranco.png" />
                                }
                                else
                                {
                                        <img style="width: 100px; height: 100px;" />
                                }

                                </div>
                                <div class="text-center"><label>Exercito Branco</label></div>
                                <div class="text-center">@Html.DisplayFor(modelItem => item.ExercitoBranco.Usuario.Email)</div>
                            </div>
                        </div>
                        <div class="col-xs-6 text-center">
                            <div class="fundo-escuro" id="exercitoPreto">
                                <div class="text-center">
                                    @if (item.ExercitoPreto != null)
                                {
                                        @Html.DisplayFor(modelItem => item.ExercitoPreto.Nacao)
                                }
                                else
                                {
                                        <span>-</span>
                                }
                                </div>
                                <div class="text-center">
                                    @if (item.ExercitoPreto != null)
                                {
                                    if (item.ExercitoPreto.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Nordico)
                                    {
                                            <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroNordicoPreto.png" />
                                    }
                                    else if (item.ExercitoPreto.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Persia)
                                    {
                                            <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroPersaPreto.png" />
                                    }
                                    else if (item.ExercitoPreto.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.India)
                                    {
                                            <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroIndianoPreto.png" />
                                    }
                                    else if (item.ExercitoPreto.Nacao == JogosDeGuerraModel.AbstractFactoryExercito.Nacao.Egito)
                                    {
                                            <img style="width: 100px; height: 100px;" src="~/Images/GuerreiroEgipcioPreto.png" />
                                        }
                                    }
                                else
                                {
                                        <div style="width: 100px; height: 100px;" />
                                }
                                </div>
                                <div class="text-center"><label>Exercito Preto</label></div>
                                <div class="text-center">
                                    @if (item.ExercitoPreto != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.ExercitoPreto.Usuario.Email)
                                }
                                else
                                {
                                        <span>-</span>
                                }
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (item.ExercitoBranco != null && item.ExercitoPreto != null)
                {
                        <hr />
                        <div class="row text-center" id="turno">
                            <div class="col-xs-12">
                                <label>Turno: </label>
                                @if (item.Turno == null)
                            {
                                    @Html.Label("-")
                            }
                            else if (item.TurnoId == item.ExercitoBrancoId)
                            {
                                    @Html.Label("Exercito Branco")
                            }
                            else if (item.TurnoId != item.ExercitoBrancoId)
                            {
                                    @Html.Label("Exercito Preto")
                            }
                            </div>
                        </div>
                        <div class="text-center" id="estado"><label>Estado:</label> @item.Estado</div>
                        <div class="text-center" id="win">
                            <label>Vencedor:</label>
                            @if (item.Vencedor != null)
                        {
                                @Html.DisplayFor(modelItem => item.Vencedor.Usuario.Email)
                        }
                        else
                        {
                                @Html.Label("-")
                        }
                        </div>
                        <div class="text-center" id="btn">
                            @Html.ActionLink("Iniciar Batalha", "Tabuleiro", "BatalhasMVC", new { Id = item.Id }, new { @class = "btn btn-lg btn-primary" })
                        </div>
                }
                </div>
            </div>

    }
    </div>
</div>
<div class="modal fade" id="modalNovaBatalha" role="dialog">
    <div class="modal-dialog" style="margin-left: -20%;">

        <!-- Modal content https://www.w3schools.com/bootstrap/bootstrap_ref_comp_glyphs.asp -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">Nova batalha!</h3>
            </div>
            <form>
                <div class="modal-body">

                    <h3>Selecione uma Nação:</h3>
                    <br />
                    <p><label><input type="radio" name="Nacao" value="1" required /> India  </label></p>
                    <p><label><input type="radio" name="Nacao" value="2" /> Persa  </label></p>
                    <p><label><input type="radio" name="Nacao" value="3" /> Egito  </label></p>
                    <p><label><input type="radio" name="Nacao" value="4" /> Nordico  </label></p>
                </div>
                <div class="modal-footer">
                    <p>Deseja entrar em uma nova batalha?</p>
                    <br />
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i>  Não</button>
                    <button type="submit" class="btn btn-success" onclick="criarBatalha()"><i class="glyphicon glyphicon-ok"></i>  Sim</button>
                </div>
            </form>
        </div>

    </div>
</div>
@section MeusScripts{
    <script src="~/Scripts/BatalhaIndex.js" type="text/javascript"></script>
}